.git
.venv
__pycache__
*.pyc
# large artifacts: mount these instead of copying them into the image
third_party/segmast3r
third_party/vggt
third_party/concept-graphs
third_party/habitat-sim
downstream/topological_navigation/object-rel-nav
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.zip
results
data
datasets
demo/output
